/target/
/target-codex/
/resx.exe
/*.exe
/*.pdb
/Cargo.lock
/*.pfx
/publish/
/build-artifacts/
/test/
/build.ps1
/package-lock.json
/resx-vscode/bin/
/resx-vscode/out/
/resx-vscode/*.vsix
/resx-demo/
*.dll
*.sys
/resx-palace/target-codex/
